.list-agents
  *
    outline none !important

  .che-list
    margin-bottom 0px
    background-color inherit

  .agent-item-row
    min-height 33px

  .che-list-header-content > *, .che-list
    margin 0

  .che-list-header md-item
    border-top none

  .config-dev-machine-switch
      margin -22px 0
  
  .config-dev-machine-info
      padding-left 13px
  
  .che-agent-item-name 
    font-size 120%
  
  .config-agent-description
    font-size 120%
  
 .che-list-item-content *:not(.tooltip)
    overflow visible





  